body{

.bgLight{
    background:hsl(227, 47%, 96%);
}

.bgDark{
    background:hsl(228, 28%, 20%);
}

#bgLightHover{
    background:hsl(233, 9%, 82%);
}

#bgDarkHover{
    background:hsl(229, 27%, 36%);
}
}